{% extends "menu.html" %}
{% block content %}

<div class="header">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
  <div class="background">
    <img src={{url_for('static', filename='bubble5.jpg')}} alt="bubblepicture" id="bubble">
  </div>
  <div class="motto-above">
    <p>Unique Solutions<p>
    <p>Positive Approach </p>
    <p>Exceptional Results</p>
  </div>
</div>

<div class="section">
 <h1>My section about me</h1>
</div>

<div class="section">
 <h1>My second section--Skills and their pictograms </h1>
</div>

<div class="section">
 <h1>My third section about me, skills and their level </h1>
</div>

<div class="section">
 <h1>My fourth section recent projects --button?</h1>
</div>


{% endblock %}