{% extends "menu.html" %}
{% block content %}

<div class="header">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="aboutme">
 <h1>About Me</h1>
 <p> I'm technically a bioinformatician, with having skills ranging from a data scientist to a software developer. My passion is to make data clear 
 and understandable to everyone, using statistics, data visualisation and computer science.
  I spent a long time working on machine learning projects, but in general I love projects where I can learn new skills and grow.  
  If you think I could help with your data or research please feel free to contact me
 </p>
</div>


<div class="secondsection">
  <h1> My Key Skills </h1>

  <div id="pictos">
      <a id="single_image1" href="#"><img src="{{ url_for('static', filename='datavis.png')}}" alt="Data Visualisation" width="200px" height="200px" class="responsive"/></a>
      <a id="single_image2" href="#"><img src="{{ url_for('static', filename='machine_learning.png')}}" alt="Machine Learning" width="200px" height="200px" class="responsive"/></a>
      <a id="single_image3" href="#"><img src="{{ url_for('static', filename='coding.png')}}" alt="Programming" width="200px" height="200px" class="responsive"/></a>
      <a id="single_image4" href="#"><img src="{{ url_for('static', filename='statistical_analysis.png')}}" alt="Statistical Analysis" width="200px" height="200px" class="responsive"/></a>
      <span class="stretch"></span>
  </div>
  <div id="nameofpictos">
    <li>
    <p>Data Visualisation</p>
    </li>
    <li>
    <p>Machine Learning</p>
    </li>
    <li>
    <p>Programming</p>
    </li>
    <li>
    <p>Statistical Analysis</p>
    </li>
  </div>
</div>


<div class="thirdsection">
 <h1>Experience Level </h1>
 
 <p>Take with two teaspoons of humour</p>

 <div class="flourish-embed" data-src="visualisation/738450"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
</div>

<div class="button-container">
<button value="Refresh Page" onClick="window.location.reload();" >Replay</button>
  </div>
 
<div class="fourthsection">
 <h1>Key Projects</h1>
 
 <div class="projectpic-container">

    <div class="picbox">
        <div class= "imgBox">
          <a href={{url_for('portfolio.machinelearning')}}><img src={{url_for("static", filename="neuro-ai.jpeg")}} alt="Project1"></a>   
        </div>
    </div>

    <div class="picbox">
        <div class= "imgBox">
          <a href={{url_for('portfolio.webapp')}}><img src={{url_for("static", filename="cloudtech.jpg")}} alt="Project2"></a>
        </div>
    </div>    

    <div class="picbox">
        <div class= "imgBox">
          <a href={{url_for('portfolio.website')}}><img src={{url_for("static", filename="statistics.jpg")}} alt="Project3"></a> 
                
        </div>
    </div>

    <div class="picbox">
        <div class= "imgBox">
          <a href={{url_for('portfolio.cancerresearch')}}><img src={{url_for("static", filename="genetics.jpg")}} alt="Project4"></a>
        </div>
    </div>


 </div>
 
 
  <div class="projectname-container">
    <div class="namebox">
      <a href={{url_for('portfolio.machinelearning')}}>Predicting Memory Failure</a>
    </div>


    <div class="namebox">
  <a href={{url_for('portfolio.webapp')}}>Bioinformatics Software Development</a>
    </div>

    <div class="namebox">
  <a href={{url_for('portfolio.website')}}>Personal Website</a>
    </div>

    <div class="namebox">
  <a href={{url_for('portfolio.cancerresearch')}}>Prostate Cancer Research</a>
    </div>


  </div>
</div>
<div class="fifthsection">
  <h1>Well, this is me...</h1> 

  <div class= "fifth-container" id="ffc">
  
    <div class="mepic-box">
      <img src={{url_for("static", filename="ildiitaly.jpg")}} alt="MeinItaly" >
    </div> 

    <div class="arrow-box">
      <img src={{url_for("static", filename="blackarrow.png")}} alt="arrowtome" >
    </div> 

    <div class="facts-box">

      <div class="staticpart">
       <p>Some Random Facts About Me</p> 
      </div> 

      <div class="slideshowpart">

        <div class="slides fade" id="sfd">
          <div class="text">I love coffee, to take nature photos and to eat anything spicy</div>
        </div> 

        <div class="slides fade" id="sfd">
          <div class="text">I was a tour-guide in Budapest</div>
        </div> 

        <div class="slides fade" id="sfd">
          <div class="text">I played basketball until I left my country</div>
        </div>

        <div class="slides fade" id="sfd">
          <div class="text">I have never seen Lord of the Rings</div>
        </div> 

        <div class="slides fade" id="sfd">
          <div class="text">Once I tried knitting.. It was a disaster</div>
        </div>
        
        <div class="slides fade" id="sfd">
          <div class="text">Once I tried knitting.. It was a disaster</div>
        </div>

        <div class="slides fade" id="sfd">
          <div class="text">My jokes might sound slightly sarcastic</div>
        </div>
        <script type="text/javascript" src='{{ url_for('static', filename='facts.js') }}'></script> 

      </div> 
    </div> 
  </div>
</div>


{% endblock %}