{% extends "menu.html" %}


{% block content %}

<div class="header_slideshow-container" id="hsc">

    <div class="slidesreviews">
       <q>Ildiko showed excellent performance, initiative and ability to contribute to the study.
       She engaded with other lab members during the meetings and showed great capacity of programming independently.
       She conducted a complex project in which she learned a number of high-level skills not only in machine learning but also 
       processing of EEG signals, showing great ability of self-directed learning and research</q>
        <p class="author">- Dissertation Supervisor</p>
    </div>
    <div class="slidesreviews">
       <q>Working with Ildiko was refreshing as she was the first manager in my life who treated me as a person. She could deal with all sorts of problems while always staying calm and professional.</q>
        <p class="author">Former Colleague</p>
    </div>

    <div class="slidesreviews">
       <q>Review number 1</q>
        <p class="author">- review author</p>
    </div>
      <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
    <!-- Dots/bullets/indicators -->
    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slidesreviews");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>



<div class="portfolio-container">

    <div class="each-container">
        <div class="eachpic-box">
            <img src="{{url_for("static", filename="neuro-ai.jpeg")}}" alt="Machine Learning">
        </div>

        <div class="eachtext-box">
            <h1>Predicting working memory failure using machine learning</h1>
            <p>In this project I worked with a time series dataset; EEG data recorded during a memory task experiment. The goal of the project was to use machine learning to predict when the subject was about to forget the memory item. My approach led us to be able to predict working memory failure with 78% accuracy. </p>
            <a href="{{url_for('portfolio.machinelearning')}}"><button type="button">Read More</button></a>
        </div>
    </div>

    <div class="each-container">
        <div class="eachpic-box">
            <img src="{{url_for("static", filename="cloudtech.jpg")}}" alt="Bioinformatics webapp">
        </div>

        <div class="eachtext-box">
            <h1>Bioinformatics Web Application Development Project</h1>
            <p>In this project I collaborated with another 3 bioinformatician. With a very limited time frame given, the goal of this project was to build a minimum viable bioinformatics product. We followed a list of specifications and requirements, such as; deployed to a cloud based system, user can access its database etc. We used various languages and technologies, including HTML, SQL, FLASK, which meant that collaboration skills were absolutely essential </p>
            <a href="{{url_for('portfolio.webapp')}}"><button type="button">Read More</button></a>
        </div>
    </div>

    <div class="each-container">
        <div class="eachpic-box">
            <img src="{{url_for("static", filename="webdev.jpg")}}" alt="Prostate Cancer Research Pic">
        </div>

        <div class="eachtext-box">
            <h1>Personal Website </h1>
            <p>This website was designed and created by me, without any web design application. I chose this method to improve my web development skills and spend some time trying to show who I am and how do I work. I used a variety of technologies to achieve this look. Mastered HTML, CSS, Flask, Python and had a pinch of JAVA added to my repertoire</p>
            <a href="{{url_for('portfolio.website')}}"><button type="button">Read More</button></a>
        </div>
    </div>

    <div class="each-container">
        <div class="eachpic-box">
            <img src="{{url_for("static", filename="genetics.jpg")}}" alt="Prostate Cancer Research Pic">
        </div>

        <div class="eachtext-box">
            <h1>Prostate Cancer Research Project </h1>
            <p>Thanks to the Wellcome Trust Biomedical Vacation Scholarship, I studied prostate cancer in a 'wet lab condition'. The goal of this project was to improve our understanding of the underlying mechanisms of the agressive forms of prostate cancer </p>
            <a href="{{url_for('portfolio.cancerresearch')}}"><button type="button">Read More</button></a>
        </div>
    </div>

</div>



{% endblock %}