/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







*{
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  
}

nav{
color: bisque; 
display: flex;
justify-content: space-around;
align-items: center; 
min-height: 7vh;
background-color: black;
font-family: 'Amethysta', serif;
position: sticky;
top: 0;
z-index: 2000;



}

.logo{
    color: rgb(228, 250, 249);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}
.logo a{
  text-decoration: none;
  color: rgb(228, 250, 249);
}

.nav-links{
    color: rgb(228, 250, 249);
    display: flex;
    justify-content: space-around; 
    width: 50%;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;

}
.nav-links a{
    color: beige;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover,
.nav-links a.active
{
  color:rgb(112, 190, 209);  
}


.nav-links li{
    list-style-type: none;
    cursor: pointer;
}

.burger{
    display: none;
    background-color:black;
    cursor: pointer;
    margin: 2px;
    transition: all 0.5s ease;
}

.burger div{
    width: 60px;
    height: 3px;
    background-color: rgb(228, 250, 249);
    margin: 10px;
   
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d2ddef;
  color: black;
  text-align: center;
  padding-right: 2%;
}

@media screen and (max-width:1024px){
.nav-links{
  width: 70%;
}
.content{
  display: none;
}

}


@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  nav{
    position:sticky;
    z-index: 100;
  }
  .nav-links{
    position: fixed;
    right: 2px;
    height: 92vh;
    top: 7vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.8;
    z-index: 100;
  }
  .nav-links li{
    opacity: 0%;

  }
  .burger{
    display: block;
    z-index: 50;
  }
  .content{
   
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 18 px; 
    margin-bottom: 100px;
   
  }
  .content h1{
    color: white;
    font-size: 10px;
  }
  .content p{
    font-size: 8px;

  }
  .v-header{
    position: fixed;
    top: 93 vh;
    left: 0 ; 
    right: 0; 
    z-index: -3;
    overflow-x: hidden;

  }}

.nav-active{
  transform: translateX(0%);

}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  opacity: 0;
  }
.toggle .line2{
  transform: rotate(-45deg) translate(-7px,12px);
  }
.toggle .line3{
  opacity: 0;
  }
.toggle .line4{
  transform: rotate(45deg) translate(-7px,-11px);
  }

.body{
  margin:0;
  font-size: 1rem;
  line-height: 1.5;
  color: azure;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 93vh;
  width: 100vw;
  
}
.v-header{
  overflow: hidden;
  overflow-y: hidden; 
  overflow-x:hidden;
}
#mylovelybubbles{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content{
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2.5;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 390px; 
  left: 1rem; 
  right: 1rem;
  overflow-x: hidden;
  color: white;
  font-size: 18px;
  opacity: 1;
  

}
.content h1{
  color: white;
  font-size: 50px;

}
.content p{
  color: white;
  font-size: 22px;

}
.content a{
  color:white;
  font-size: 18px;
  background-color: rgb(72, 136, 192)
}

.btn{
  background-color: rgb(117, 128, 226);
  color: white;

}
.header{
  height: 70vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  overflow: hidden;

  
}
#bubble{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right:auto;
  height:70vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
 
}
.motto-above{
  position: absolute;
  margin-bottom: 100px;
  top: 25%; 
  left: 3vw;
  font-size: 50px;
  
}
.motto-above p{
  position: relative;
  left: 1vw;
  top: 13vh;
  
  font-family: 'Tangerine', cursive;
  color: transparent;
  z-index: 2;
  letter-spacing: 4px;
  word-spacing: 3px;
  line-height: 1.5;
  background-image: linear-gradient(to top right, rgb(147, 231, 246) 0%, rgba(118, 87, 202, 0.8) 45%, rgba(248, 85, 10, 0.575) 70%);
  -webkit-background-clip: text;
  animation: animate 20s linear infinite;
  background-size: 1000%;
}

@keyframes animate{
  0%
  {
    background-position: 0% 100%;
  }
  50%
  {
    background-position: 100% 0%;
  }
  100%
  {
    background-position: 0% 100%;
  }
}
@media screen and (max-width:768px){
  section{
    display: none;
  }
  #bubble{
    display: none;

  }
}
@media screen and (max-width:1424px){
  .motto-above{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0 vh;
    left: 10px;
    bottom:0;
    top: 40%;  
    
  }
  .motto-above p{
    position: relative;
    justify-content: space-around;
    display: inline-block;
    font-size: 40px;

    
  }
  #bubble{
    display: block;
  }
}

section{
  position: fixed; 
  right: 0;
  top: 30%;
  height: 100vh;
}

section #icon-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway DOts', sans-serif;
  height: 100%;
  
}

section #icon-bar li {
  text-align: center;
  display: block;
  width: 80px;
  background-color: transparent;
  list-style: none;
  color:transparent;
  

}
section #icon-bar li div {
  width: 70px;
  height: 50px;
  font-size: 3.4em;
  background-color:transparent;
  transition: all 0.5s ease;
  
}
section #icon-bar li a {
  color: #46c4f7;
 
}
section #icon-bar li div:hover {
  transform: rotate(360deg);
  border-radius: 150px;
}
section #icon-bar li span {
  width: 10px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color:transparent;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

.aboutme{
  background-color: white;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'Nunito', sans-serif;
}

.aboutme h1{
  font-size: 26px;
  letter-spacing: 2px;
}

.aboutme p{
  padding-top: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
  

}
#pictos{   
  width: 70vw;
  margin-top:90px;
  margin-left: auto; 
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#pictos a {
  vertical-align: top;
  display: inline-block;
  display: inline;
  zoom: 1;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.secondsection{
  background-color:rgb(247, 197, 164);
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'Nunito', sans-serif;
  z-index: -2;
  font-size: 10px;
}
.secondsection h1{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.8rem;
  letter-spacing: 3px;
}
#nameofpictos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.0rem;
  letter-spacing: 3px;
  list-style: none;
  padding-top: 70px;
  font-weight: bold;
  opacity: 0.65;
}

@media screen and (max-width:768px){
  #pictos a{
    padding-bottom: 5%;
    width: 30vw;

  }
  #nameofpictos{
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    margin-left: 70vw;
    width: 70px;
    height: 140vh; 
    top: 90px;
    line-height: 40px;
  }
  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2;
  }
}