
{% extends "menu.html" %}
{% block content %}
$('#mylovelybubbles')[0].load();

<body>
 <header class="v-header container">
    <div class ="video-wrap">
        <video autoplay muted loop src="{{url_for('static', filename='mylovelybubbles.mov')}}" autoplay="true" loop="true" alt="Well, this doesn't work" id="mylovelybubbles">
        </video>
    <div class= "content">
        <h1>Hello, I'm Ildiko </h1>
        <p>Welcome to my personal portfolio. Please feel free to browse around
        </p>
        <a href="{{url_for('about.index')}}" class= "btn">Read More</a>
        </div>
    </div>
 </header>
</body>
{% endblock %}