<!DOCTYPE html>
<html Lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ildiko-web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amethysta&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
            <a href= "{{url_for('home')}}">ILDIKO MAGDA</a>
        </div>
        <ul class="nav-links">
            <li class="active">
                <a href="{{ url_for('about.index')}}">About</a>
            </li>
            <li>
                <a href="{{ url_for('interactive.index') }}">Interactive</a>
            </li>
            <li>
                <a href="{{ url_for('portfolio.index') }}">Portfolio</a>
            </li>
            <li>
                <a href="{{ url_for('contact.index') }}">Contact</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
        </div>
    </nav>

    <script type="text/javascript" src='{{ url_for('static', filename='nav.js') }}'></script>

</body>

{% block content %}


{% endblock %}

<p class="footer"> Designed by Ildiko Magda 2019</p>
